@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sans {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.serif {
  /* @apply "font-serif"; */
  font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
}
