@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.mono {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sans {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.serif {
  /* @apply "font-serif"; */
  font-family: "Roboto Slab", Georgia, Times, "Times New Roman", serif;
}

@layer base {
  html {
    @apply dark:scrollbar-thin dark:scrollbar-thumb-slate-700;
  }

  body {
    @apply dark:bg-slate-800 dark:text-slate-200 bg-slate-200 text-slate-800;
  }

  section h1 {
    @apply py-2 text-2xl text-slate-500;
  }

  .link {
    @apply underline underline-offset-2 dark:text-slate-400 text-slate-600;
  }

  section p {
    @apply my-2;
  }
}
